:root {
  /* common */
  --transparent-color: rgba(0, 0, 0, 0);
  --transparent50-color: rgba(0, 0, 0, 0.5);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);

  /* branding */
  --primary-color: rgb(252, 100, 0);
  --primary-opacity-50-color: rgba(252, 100, 0, 0.5);
  --primary-hover-color: rgb(226, 89, 0);
  --primary-active-color: rgb(201, 79, 0);

  /* logos */
  --company-logo-color: var(--primary-color);
}

.light-mode {
  /* grays */
  --gray0-color: rgb(92, 92, 94);
  --gray1-color: rgb(142, 142, 147);
  --gray2-color: rgb(174, 174, 178);
  --gray3-color: rgb(199, 199, 204);
  --gray4-color: rgb(209, 209, 214);
  --gray5-color: rgb(229, 229, 234);
  --gray6-color: rgb(242, 242, 247);

  /* reds */
  --red1-color: rgb(255, 59, 48);
  --red1-hover-color: rgb(212, 50, 41);
  --red1-active-color: rgb(173, 40, 33);

  /* common */
  --default-page-background-color: var(--white-color);
  --default-font-color: var(--black-color);
  --default-inverted-font-color: var(--white-color);
  --default-readonly-font-color: var(--gray1-color);
  --default-icon-color: var(--black-color);
  --default-icon-hover-color: var(--primary-color);
  --error-message-color: var(--red1-color);
  --default-secondary-font-color: var(--gray1-color);

  /* account */
  --account-border-color: var(--gray5-color);
  --account-background-color: var(--gray6-color);
  --account-title-font-color: var(--black-color);
  --account-input-background-color: var(--account-background-color);
  --account-submit-button-color: var(--primary-color);
  --account-submit-button-hover-color: var(--primary-hover-color);
  --account-submit-button-active-color: var(--primary-active-color);
  --account-link-color: var(--primary-color);

  /* navbar */
  --navbar-color: var(--gray6-color);
  --navbar-avatar-background: var(--primary-color);
  --navbar-avatar-background-hover: var(--primary-hover-color);
  --navbar-avatar-icon-color: var(--navbar-color);
  --navbar-avatar-popover-background-color: var(--gray6-color);
  --navbar-avatar-popover-border-color: var(--gray3-color);
  --navbar-avatar-popover-item-color: var(--gray0-color);
  --navbar-avatar-popover-item-link-color: var(--default-font-color);
  --navbar-avatar-popover-item-link-hover-color: var(--primary-hover-color);

  /* applications overview */
  --applications-overview-header-border-line-color: var(--white-color);
  --application-background-color: var(--gray6-color);

  /* sidebar */
  --sidebar-background-color: var(--gray6-color);
  --sidebar-active-link-background-color: var(--primary-active-color);
  --sidebar-header-font-color: var(--primary-color);

  /* application team settings */
  --no-invited-users-text-color: var(--gray2-color);

  /* modal */
  --modal-header-border-color: var(--modal-background-color);
  --modal-background-color: var(--gray5-color);

  /* custom button */
  --custom-button-branded-color: var(--primary-color);
  --custom-button-branded-hover-color: var(--primary-hover-color);
  --custom-button-branded-active-color: var(--primary-active-color);
  --custom-button-default-color: var(--gray1-color);
  --custom-button-default-hover-color: var(--gray2-color);
  --custom-button-default-active-color: var(--gray3-color);
  --custom-button-modal-color: var(--gray3-color);
  --custom-button-modal-hover-color: var(--gray2-color);
  --custom-button-modal-active-color: var(--gray1-color);
  --custom-button-delte-color: var(--red1-color);
  --custom-button-delte-hover-color: var(--red1-hover-color);
  --custom-button-delte-active-color: var(--red1-active-color);

  /* custom input */
  --custom-input-border-color: var(--gray3-color);
  --custom-input-placeholder-color: var(--gray1-color);

  /* radio button */
  --radio-button-not-checked-background-color: var(--gray3-color);
  --radio-button-border-color: var(--gray3-color);
  --radio-button-not-checked-box-shadow-color: var(--gray3-color);
  --radio-button-checked-background-color: var(--primary-color);
  --radio-button-checked-box-shadow-color: var(--primary-color);

  /* collapse */
  --collapse-background-color: var(--gray6-color);
  --collapse-separator-line-color: var(--gray5-color);

  /* toggle switch */
  --toggle-switch-not-checked-background-color: var(--gray4-color);
  --toggle-switch-slider-color: var(--white-color);
  --toggle-switch-checked-background-color: var(--primary-color);
}

.dark-mode {
  /* grays */
  --gray0-color: rgb(190, 190, 194);
  --gray1-color: rgb(142, 142, 147);
  --gray2-color: rgb(99, 99, 102);
  --gray3-color: rgb(72, 72, 74);
  --gray4-color: rgb(58, 58, 60);
  --gray5-color: rgb(44, 44, 46);
  --gray6-color: rgb(28, 28, 30);

  /* reds */
  --red1-color: rgb(255, 69, 58);
  --red1-hover-color: rgb(212, 50, 41);
  --red1-active-color: rgb(173, 40, 33);

  /* common */
  --default-page-background-color: var(--black-color);
  --default-font-color: var(--white-color);
  --default-inverted-font-color: var(--black-color);
  --default-readonly-font-color: var(--gray2-color);
  --default-icon-color: var(--white-color);
  --default-icon-hover-color: var(--primary-color);
  --error-message-color: var(--red1-color);
  --default-secondary-font-color: var(--gray1-color);

  /* account */
  --account-border-color: var(--gray5-color);
  --account-background-color: var(--gray6-color);
  --account-title-font-color: var(--white-color);
  --account-input-background-color: var(--account-background-color);
  --account-submit-button-color: var(--primary-color);
  --account-submit-button-hover-color: var(--primary-hover-color);
  --account-submit-button-active-color: var(--primary-active-color);
  --account-link-color: var(--primary-color);

  /* navbar */
  --navbar-color: var(--gray6-color);
  --navbar-avatar-background: var(--primary-color);
  --navbar-avatar-background-hover: var(--primary-hover-color);
  --navbar-avatar-icon-color: var(--navbar-color);
  --navbar-avatar-popover-background-color: var(--gray5-color);
  --navbar-avatar-popover-border-color: var(--gray4-color);
  --navbar-avatar-popover-item-color: var(--gray1-color);
  --navbar-avatar-popover-item-link-color: var(--default-font-color);
  --navbar-avatar-popover-item-link-hover-color: var(--primary-hover-color);

  /* applications overview */
  --applications-overview-header-border-line-color: var(--white-color);
  --application-background-color: var(--gray6-color);

  /* application sidebar */
  --sidebar-background-color: var(--gray6-color);
  --sidebar-active-link-background-color: var(--primary-active-color);
  --sidebar-header-font-color: var(--primary-color);

  /* application team settings */
  --no-invited-users-text-color: var(--gray2-color);

  /* modal */
  --modal-header-border-color: var(--modal-background-color);
  --modal-background-color: var(--gray5-color);

  /* custom button */
  --custom-button-branded-color: var(--primary-color);
  --custom-button-branded-hover-color: var(--primary-hover-color);
  --custom-button-branded-active-color: var(--primary-active-color);
  --custom-button-default-color: var(--gray4-color);
  --custom-button-default-hover-color: var(--gray5-color);
  --custom-button-default-active-color: var(--gray6-color);
  --custom-button-modal-color: var(--gray3-color);
  --custom-button-modal-hover-color: var(--gray4-color);
  --custom-button-modal-active-color: var(--gray5-color);
  --custom-button-delte-color: var(--red1-color);
  --custom-button-delte-hover-color: var(--red1-hover-color);
  --custom-button-delte-active-color: var(--red1-active-color);

  /* custom input */
  --custom-input-border-color: var(--gray4-color);
  --custom-input-placeholder-color: var(--gray2-color);

  /* radio button */
  --radio-button-not-checked-background-color: var(--gray3-color);
  --radio-button-border-color: var(--gray3-color);
  --radio-button-not-checked-box-shadow-color: var(--gray3-color);
  --radio-button-checked-background-color: var(--primary-color);
  --radio-button-checked-box-shadow-color: var(--primary-color);

  /* collapse */
  --collapse-background-color: var(--gray6-color);
  --collapse-separator-line-color: var(--gray5-color);

  /* toggle switch */
  --toggle-switch-not-checked-background-color: var(--gray4-color);
  --toggle-switch-slider-color: var(--white-color);
  --toggle-switch-checked-background-color: var(--primary-color);
}
