:root {
  /* common */
  --transparent-color: rgba(0, 0, 0, 0);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);

  /* branding */
  --primary-color: rgb(252, 100, 0);
  --primary-hover-color: rgb(226, 89, 0);
  --primary-active-color: rgb(201, 79, 0);
  --primary-white-background-color: rgb(255, 201, 166);

  /* logos */
  --company-logo-color: var(--primary-color);
}

.light-mode {
  /* grays */
  --gray0-color: rgb(92, 92, 94);
  --gray1-color: rgb(142, 142, 147);
  --gray2-color: rgb(174, 174, 178);
  --gray3-color: rgb(199, 199, 204);
  --gray4-color: rgb(209, 209, 214);
  --gray5-color: rgb(229, 229, 234);
  --gray6-color: rgb(242, 242, 247);

  /* reds */
  --red1-color: rgb(255, 59, 48);

  /* common */
  --default-page-background-color: var(--white-color);
  --default-font-color: var(--black-color);
  --default-inverted-font-color: var(--white-color);
  --default-readonly-font-color: var(--gray1-color);
  --default-icon-color: var(--black-color);
  --default-icon-hover-color: var(--primary-color);
  --error-message-color: var(--red1-color);

  /* account */
  --account-border-color: var(--gray5-color);
  --account-background-color: var(--gray6-color);
  --account-title-font-color: var(--black-color);
  --account-input-background-color: var(--account-background-color);
  --account-submit-button-color: var(--primary-color);
  --account-submit-button-hover-color: var(--primary-hover-color);
  --account-submit-button-active-color: var(--primary-active-color);
  --account-link-color: var(--primary-color);

  /* navbar */
  --navbar-color: var(--gray6-color);
  --navbar-avatar-background: var(--primary-color);
  --navbar-avatar-background-hover: var(--primary-hover-color);
  --navbar-avatar-icon-color: var(--navbar-color);
  --navbar-avatar-popover-background-color: var(--gray6-color);
  --navbar-avatar-popover-border-color: var(--gray3-color);
  --navbar-avatar-popover-item-color: var(--gray0-color);
  --navbar-avatar-popover-item-link-color: var(--default-font-color);
  --navbar-avatar-popover-item-link-hover-color: var(--primary-hover-color);

  /* applications overview */
  --applications-overview-header-border-line-color: var(--white-color);

  /* application sidebar */
  --application-sidebar-background-color: var(--gray6-color);
  --application-sidebar-active-link-background-color: var(
    --primary-active-color
  );
  --application-sidebar-header-font-color: var(--primary-color);

  /* modal */
  --modal-header-border-color: var(--modal-background-color);
  --modal-background-color: var(--gray5-color);

  /* custom button */
  --custom-button-font-color: var(--white-color);
  --custom-button-positive-color: var(--primary-color);
  --custom-button-positive-hover-color: var(--primary-hover-color);
  --custom-button-positive-active-color: var(--primary-active-color);
  --custom-button-negative-color: var(--gray1-color);
  --custom-button-negative-hover-color: var(--gray2-color);
  --custom-button-negative-active-color: var(--gray3-color);

  /* custom input */
  --custom-input-border-bottom-color: var(--gray3-color);
  --custom-input-placeholder-color: var(--gray1-color);
}

.dark-mode {
  /* grays */
  --gray0-color: rgb(190, 190, 194);
  --gray1-color: rgb(142, 142, 147);
  --gray2-color: rgb(99, 99, 102);
  --gray3-color: rgb(72, 72, 74);
  --gray4-color: rgb(58, 58, 60);
  --gray5-color: rgb(44, 44, 46);
  --gray6-color: rgb(28, 28, 30);

  /* reds */
  --red1-color: rgb(255, 69, 58);

  /* common */
  --default-page-background-color: var(--black-color);
  --default-font-color: var(--white-color);
  --default-inverted-font-color: var(--black-color);
  --default-readonly-font-color: var(--gray2-color);
  --default-icon-color: var(--white-color);
  --default-icon-hover-color: var(--primary-color);
  --error-message-color: var(--red1-color);

  /* account */
  --account-border-color: var(--gray5-color);
  --account-background-color: var(--gray6-color);
  --account-title-font-color: var(--white-color);
  --account-input-background-color: var(--account-background-color);
  --account-submit-button-color: var(--primary-color);
  --account-submit-button-hover-color: var(--primary-hover-color);
  --account-submit-button-active-color: var(--primary-active-color);
  --account-link-color: var(--primary-color);

  /* navbar */
  --navbar-color: var(--gray6-color);
  --navbar-avatar-background: var(--primary-color);
  --navbar-avatar-background-hover: var(--primary-hover-color);
  --navbar-avatar-icon-color: var(--navbar-color);
  --navbar-avatar-popover-background-color: var(--gray5-color);
  --navbar-avatar-popover-border-color: var(--gray4-color);
  --navbar-avatar-popover-item-color: var(--gray1-color);
  --navbar-avatar-popover-item-link-color: var(--default-font-color);
  --navbar-avatar-popover-item-link-hover-color: var(--primary-hover-color);

  /* applications overview */
  --applications-overview-header-border-line-color: var(--white-color);

  /* application sidebar */
  --application-sidebar-background-color: var(--gray6-color);
  --application-sidebar-active-link-background-color: var(
    --primary-active-color
  );
  --application-sidebar-header-font-color: var(--primary-color);

  /* modal */
  --modal-header-border-color: var(--modal-background-color);
  --modal-background-color: var(--gray5-color);

  /* custom button */
  --custom-button-font-color: var(--white-color);
  --custom-button-positive-color: var(--primary-color);
  --custom-button-positive-hover-color: var(--primary-hover-color);
  --custom-button-positive-active-color: var(--primary-active-color);
  --custom-button-negative-color: var(--gray1-color);
  --custom-button-negative-hover-color: var(--gray2-color);
  --custom-button-negative-active-color: var(--gray3-color);

  /* custom input */
  --custom-input-border-bottom-color: var(--gray4-color);
  --custom-input-placeholder-color: var(--gray2-color);
}
