.application-page-title {
  margin-bottom: 20px;
}

.application-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.application-section-separator {
  margin: 50px 0;
  height: 1px;
  border: none;
  background-color: var(--gray6-color);
}

.application-description {
  margin: 8px 0 24px 0 !important;
  color: var(--gray1-color);
}

.block + label {
  margin-top: 20px !important;
}

.application-section-button {
  margin-bottom: 25px;
}
