.application-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.application-section-mobile + .application-section-mobile,
.application-section + .application-section {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid var(--gray4-color);
}

.application-section-mobile {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.application-description {
  margin: 8px 0 24px 0 !important;
  color: var(--gray1-color);
}

.block + label {
  margin-top: 20px !important;
}

.application-section-button {
  margin-bottom: 25px;
}
