.application-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.application-section-separator {
  margin: 50px 0;
  height: 1px;
  border: none;
  background-color: var(--gray6-color);
}

.application-description {
  color: var(--gray1-color);
}

label + .block {
  margin-bottom: 20px;
}

.application-section-button {
  margin-bottom: 25px;
}
